user-full-data-rs/src/main/resources/getUser.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://test/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="UsersEndpointService" targetNamespace="http://test/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://test/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://test/">
  <xs:element name="user" type="tns:user"/>
  <xs:complexType name="user">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="firstname" type="xs:string"/>
      <xs:element minOccurs="0" name="lastname" type="xs:string"/>
      <xs:element name="age" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserNotFoundException" type="tns:UserNotFoundException"/>
  <xs:complexType name="UserNotFoundException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="id" nillable="true" type="xs:string"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="UserNotFoundException">
    <wsdl:part element="tns:UserNotFoundException" name="UserNotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserResponse">
    <wsdl:part element="tns:user" name="user">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUser">
    <wsdl:part element="tns:id" name="id">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="UsersEndpoint">
    <wsdl:operation name="getUser">
      <wsdl:input message="tns:getUser" name="getUser">
    </wsdl:input>
      <wsdl:output message="tns:getUserResponse" name="getUserResponse">
    </wsdl:output>
      <wsdl:fault message="tns:UserNotFoundException" name="UserNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UsersEndpointServiceSoapBinding" type="tns:UsersEndpoint">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UserNotFoundException">
        <soap:fault name="UserNotFoundException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsersEndpointService">
    <wsdl:port binding="tns:UsersEndpointServiceSoapBinding" name="UsersEndpointPort">
      <soap:address location="http://localhost:8080/getUsers"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>